body{
    background-color:navajowhite;
}

header{
    background-color: red;
    height: 50%;
}

nav{
    background-color: lightblue;
}

section{
    background-color:royalblue;
}

footer{
    background-color: lightcoral;
}